<div class="row mt-3">
  <div class="col-md-4">
    <img class="details-img col-12" src="http://via.placeholder.com/300x300" />
    <div class="my-3 col-8 mx-auto">
      <button class="btn btn-primary btn-block">Feltöltés</button>
    </div>
  </div>
  <div class="col-md-8">
    <form action="">
      <input [value]="item?.name" class="form-control m-2" type="text" placeholder="Név *">
      <input [value]="item?.price" class="form-control m-2" type="text" placeholder="Ár *">
      <input [value]="item?.manufacturer" class="form-control m-2" type="text" placeholder="Gyártó *">
      <input class="form-control m-2" type="text" placeholder="spec1">
      <input class="form-control m-2" type="text" placeholder="spec2">
      <div class="col-md-6 row float-right">
        <div class="col-6">
          <button class="btn btn-danger btn-block">Mégse</button>
        </div>
        <div class="col-6">
          <button class="btn btn-primary btn-block">Mentés</button>
        </div>
      </div>
    </form>
  </div>
</div>